<div class="container-fluid mt-2" style="background-color: #d5e5eb">
    <div class="row">
        <div class="col p-3">
            <h3 class="text-secondary">Dashboard</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col shadow-lg p-3 m-3 rounded align-middle my-auto text-dark" style="background-color: #ebebeb">
            <h6 class="font-weight-bold text-dark mb-3">PURCHASES</h6>
            <div class="row">
                <div class="col">
                    <h1 style="color: #224989"><i class="fas fa-shopping-bag"></i></h1>
                </div>
                <div class="col text-right pr-5">
                    <h6 style="cursor: pointer" ng-click="expandPurchases()">Expand <i class="fas fa-arrow-circle-right"></i></h6>
                </div>
            </div>
        </div>

        <div class="col shadow-lg p-3 m-3 rounded align-middle my-auto text-dark" style="background-color: #ebebeb">
            <h6 class="font-weight-bold text-dark mb-3">PRODUCTS</h6>
            <div class="row">
                <div class="col">
                    <h1 style="color: #891d86"><i class="fas fa-carrot"></i></h1>
                </div>
                <div class="col text-right pr-5">
                    <h6 style="cursor: pointer" ng-click="expandProducts()">Expand <i class="fas fa-arrow-circle-right"></i></h6>
                </div>
            </div>
        </div>

        <div class="col shadow-lg p-3 m-3 rounded align-middle my-auto text-dark" style="background-color: #ebebeb">
            <h6 class="font-weight-bold text-dark mb-3">USERS</h6>
            <div class="row">
                <div class="col">
                    <h1 style="color: #1e7910"><i class="fas fa-users"></i></h1>
                </div>
                <div class="col text-right pr-5">
                    <h6 style="cursor: pointer" ng-click="expandUsers()">Expand <i class="fas fa-arrow-circle-right"></i></h6>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col text-center m-2" ng-if="loading">
            <div class="spinner-border text-success my-auto" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="hidePurchases">
        <div class="col bg-light">
            <h2 class="text-center">Purchases</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                    <th scope="col">Product</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Unit price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Delivery address</th>
                    <th scope="col">Delivered</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="purchase in allPurchases">
                    <th scope="row">{{purchase.id}}</th>
                    <td>{{purchase.user.id}} {{purchase.user.firstName}} {{purchase.user.lastName}}</td>
                    <td>{{purchase.date.substring(0,10)}}</td>
                    <td>{{purchase.product.name}}</td>
                    <td>{{purchase.qty}}</td>
                    <td>{{purchase.unitPrice}}</td>
                    <td>{{(purchase.qty * purchase.unitPrice).toFixed(2)}}</td>
                    <td>{{purchase.address}}</td>
                    <td>{{purchase.delivered ? 'Delivered' : 'Pending delivery'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="hideProducts">
        <div class="col bg-light">
            <h2 class="text-center">Products</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Farmer price</th>
                    <th scope="col">Retail price</th>
                    <th scope="col">Wholesale price</th>
                    <th scope="col">Product type</th>
                    <th scope="col">Farmer</th>
                    <th scope="col">Harvest</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Approved</th>
                    <th scope="col">Disapproved</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in allProducts">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.farmerPrice}}</td>
                    <td>{{product.retailPrice}}</td>
                    <td>{{product.wholeSalePrice}}</td>
                    <td>{{product.productType}}</td>
                    <td><span class="badge {{product.farmedDate ? 'badge-success' : 'badge-warning'}}">{{product.farmedDate ? 'Complete' : 'Pending'}}</span></td>
                    <td><span class="badge {{product.harvestedDate ? 'badge-success' : 'badge-warning'}}">{{product.harvestedDate ? 'Complete' : 'Pending'}}</span></td>
                    <td><span class="badge {{product.manufacturedDate ? 'badge-success' : 'badge-warning'}}">{{product.manufacturedDate ? 'Complete' : 'Pending'}}</span></td>
                    <td><span class="badge {{product.approvedDate ? 'badge-success' : 'badge-warning'}}">{{product.approvedDate ? 'Complete' : 'Pending'}}</span></td>
                    <td><span class="badge {{product.disApprovedDate ? 'badge-danger' : 'badge-success'}}">{{product.disApprovedDate ? 'Disapproved' : 'Pending'}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="hideUsers">
        <div class="col bg-light">
            <h2 class="text-center">Users <span class="badge badge-primary" style="cursor: pointer" ng-click="validateUsers()">Validate</span></h2>
            <table class="table table-striped" ng-if="hideValidatedUsers">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">User type</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in allUsers">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userType}}</td>
                    <td>{{user.address}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped" ng-hide="hideValidatedUsers">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">User type</th>
                    <th scope="col">Address</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Last Login time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in allUsersValidated | orderBy:'$index':true">
                    <th scope="row">{{user.user.id}}</th>
                    <td>{{user.user.firstName}}</td>
                    <td>{{user.user.lastName}}</td>
                    <td>{{user.user.email}}</td>
                    <td>{{user.user.userType}}</td>
                    <td>{{user.user.address}}</td>
                    <td>{{user.valid ? "Valid" : "Fake"}}</td>
                    <td>{{user.lastLoginTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
