<div class="container-fluid bg-dark">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
        <div class="col-6 bg-light p-5 rounded">
            <h1 class="text-center">Submit a new Product</h1>
            <hr>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Product Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product name" ng-model="newProduct.name">
                </div>
                <div class="form-group" ng-if="user.userType == 'FARMER'">
                    <label for="farmerPrice">Farmer's price</label>
                    <input type="number" class="form-control" id="farmerPrice" placeholder="Farmer's price" ng-model="newProduct.farmerPrice">
                </div>
                <div class="form-group">
                    <label for="category">Product Category</label>
                    <select class="form-control" id="category"ng-model="newProduct.productCategory" ng-options="category as category.name for category in allCategories track by category.id"></select>
                </div>
                <div class="form-group" ng-if="user.userType == 'MANUFACTURER'">
                    <label for="retailPrice">Retail price</label>
                    <input type="number" class="form-control" id="retailPrice" placeholder="Retail price" ng-model="newProduct.retailPrice">
                </div>
                <div class="form-group" ng-if="user.userType == 'MANUFACTURER'">
                    <label for="wholeSalePrice">Wholesale price</label>
                    <input type="number" class="form-control" id="wholeSalePrice" placeholder="Wholesale price" ng-model="newProduct.wholeSalePrice">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="newProduct.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputExp">Expiry Date</label>
                    <input type="date" class="form-control" id="exampleInputExp" placeholder="Wholesale price" ng-model="newProduct.expiryDate">
                </div>
                <div class="form-group" ng-if="user.userType == 'FARMER'">
                    <label for="farmedDate">Farmed date</label>
                    <input type="date" class="form-control" id="farmedDate" placeholder="Farmed date" ng-model="newProduct.farmedDate">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-block" ng-click="submitNewProduct()">Submit</button>
                <button type="submit" class="btn btn-warning btn-block" ng-click="goBackToFarmer()">Go back</button>
            </form>
        </div>
    </div>
</div>
