<div class="container-fluid bg-dark" style="background-image: url('images/loginBg.jpg')">
    <div class="row justify-content-end align-items-center" style="height: 100vh">
        <div class="col-5 bg-light p-5 rounded">
            <form>
                <div class="form-group">
                    <label for="inputFname">First name</label>
                    <input type="text" class="form-control" id="inputFname" placeholder="Enter first name" ng-model="newLogin.firstName">
                </div>
                <div class="form-group">
                    <label for="inputLname">Last name</label>
                    <input type="text" class="form-control" id="inputLname" placeholder="Enter last name" ng-model="newLogin.lastName">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Account type</label>
                    <select class="form-control" id="exampleFormControlSelect1"ng-model="newLogin.userType">
                        <option value="FARMER">Farmer</option>
                        <option value="DISTRIBUTOR">Distributor</option>
                        <option value="AGENCY">Agency</option>
                        <option value="MANUFACTURER">Manufacturer</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="newLogin.email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="newLogin.password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember password</label>
                </div>
                <button type="submit" class="btn btn-success btn-block" ng-click="createAccount()">Create new account</button>
                <div class="alert alert-warning" role="alert" ng-if="showLoginError">
                    {{loginError}}
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
