<div class="container-fluid p-3 pl-5 pr-5 pb-0 bg-light">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="goToCart()"><i class="fa fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fa fa-cog"></i> Settings</a>
                </li>
                <li class="nav-item" ng-hide="user.id">
                    <a class="nav-link" href="" ng-click="goToLogin()"><i class="fa fa-sign-in-alt"></i>Log in</a>
                </li>
                <li class="nav-item" ng-if="user.id">
                    <a class="nav-link" href="" ng-click="logOut()"><i class="fa fa-sign-out-alt"></i> Log out</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Customer</h3>
    </div>
</div>
