<div class="container grad-green-yellow-light mt-2">
    <div class="row p-0 mt-0">
        <div class="col d-flex justify-content-center mt-0 p-5" style="background-image: url('images/wide_dark_bannar.jpg'); color: #ffffff;">
            <h2>Product Details</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5 text-center p-1 ml-2 rounded" style="background-color: #6bd835">
            <h4 class="font-weight-bold text-light">Product Details</h4>
        </div>
        <div class="col text-center p-1 ml-2 mr-2 rounded" style="background-color: #6bd835">
            <h4 class="font-weight-bold text-light">History</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-5 ml-2 p-0">
            <div>
                <img class="rounded-top mt-2" src="images/thumbs/{{product.image}}" width="100%">
            </div>
            <div class="mt-1 p-3 text-dark rounded-bottom" style="background-color: rgba(30,121,16,0.33)">
                <p style="color: #3c2a1c">{{product.productCategory.name}} ></p>
                <h3>{{product.name}} <span class="badge badge-pill badge-success" ng-if="product.approved">Certified</span></h3>
                <h5>{{product.productType == 'FARMER' ? product.farmerPrice.toFixed(2) : product.retailPrice.toFixed(2)}} LKR</h5>
                <h6>Expired by: {{product.expiryDate.substr(0,10)}}</h6>
                <hr>
                <p>{{product.description}}</p>
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-cart-plus"></i> Add to cart</button>
            </div>
        </div>
        <div class="col m-2 rounded pt-2" style="background-color: #e4e4e4">
            <div class="row">
                <div class="col-2 text-right">
                    <h3><i class="fas fa-check-circle"></i></h3>
                </div>
                <div class="col">
                    <h3 class="font-weight-bold text-dark">Sampath Farm</h3>
                    <p class="text-secondary m-0">Freshly harvested</p>
                    <p class="text-secondary m-0">Cultivated on: {{product.farmedDate.substr(0,10)}}</p>
                    <p class="text-secondary m-0">Harvested on: {{product.harvestedDate.substr(0,10)}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2 text-right">
                    <h3><i class="fas fa-check-circle"></i></h3>
                </div>
                <div class="col">
                    <h3 class="font-weight-bold text-dark">Rich Foods</h3>
                    <p class="text-secondary m-0">Manufactured with care</p>
                    <p class="text-secondary m-0">Manufactured on: {{product.manufacturedDate.substr(0,10)}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2 text-right">
                    <h3><i class="fas fa-check-circle"></i></h3>
                </div>
                <div class="col">
                    <h3 class="font-weight-bold text-dark">National food promotion board</h3>
                    <p class="text-secondary m-0">Approved by the agency</p>
                    <p class="text-secondary m-0">Approved on: {{product.approvedDate.substr(0,10)}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col d-flex justify-content-center">
            <h3>- Reviews -</h3>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            <canvas id="doughnut-chart" width="400" height="225"></canvas>
        </div>
        <div class="col">
            <canvas id="doughnut-chart2" width="400" height="225"></canvas>
        </div>
    </div>

    <hr>
    <div class="row mb-2">
        <div class="col">
            <form ng-submit="submitReview()">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Your review" aria-label="Your review" aria-describedby="basic-addon2" ng-model="newReview.content">
                            <div class="input-group-append" style="cursor: pointer" ng-click="submitReview()">
                                <span class="input-group-text" id="basic-addon2">Submit</span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-repeat="review in allReviews | orderBy:'-id'">
        <div class="col pl-5">
            <blockquote class="blockquote">
                <p class="mb-0">{{review.content}} <img src="images/smile.png" width="20px" ng-if="review.sentiment == 'Positive'"><img src="images/sad.png" width="20px" ng-if="review.sentiment == 'Negative'"><img src="images/neutral.png" width="20px" ng-if="review.sentiment == 'Neutral'"></p>
                <footer class="blockquote-footer">{{review.user.firstName + ' ' + review.user.lastName}} <span class="badge badge-info" ng-hide="review.sentiment == 'Neutral'">{{review.aspect}}</span> <cite title="Source Title">- {{review.date.substr(0,10)}}</cite></footer>
            </blockquote>
        </div>
    </div>
    <hr>
<!--    <div class="row mb-2">-->
<!--        <div class="col d-flex justify-content-center">-->
<!--            <h3>- History -</h3>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2" ng-repeat="block in historyList">-->
<!--            <div class="row">-->
<!--                <div class="col-8 border-right">-->
<!--                    <p style="text-align: center">{{block.blockMessage}}</p>-->
<!--                </div>-->
<!--                <div class="col d-flex align-items-center">-->
<!--                    <p> -> </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Quantity</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Ex: 2" aria-describedby="basic-addon1" ng-model="addToCartQty">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="exampleFormControlSelect1">Nearest warehouse</label>-->
<!--                    <select class="form-control" id="exampleFormControlSelect1" ng-model="warehouse" ng-options="warehouse as (warehouse.name+', '+warehouse.address) for warehouse in allWarehouses"></select>-->
<!--                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addToCart()">Add</button>
            </div>
        </div>
    </div>
</div>
