<div class="container bg-light mt-2">
    <div class="row p-0 mt-0">
        <div class="col d-flex justify-content-center mt-0 p-5" style="background-image: url('images/wide_dark_bannar.jpg'); color: #ffffff;">
            <h2>Product Details</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5 m-3">
            <img src="images/thumbs/{{product.image}}" width="100%">
        </div>
        <div class="col-6 m-3">
            <p style="color: #958e78">{{product.productCategory.name}} ></p>
            <h3>{{product.name}} <span class="badge badge-pill badge-success" ng-if="product.approved">Certified</span></h3>
            <h5>{{product.retailPrice.toFixed(2)}} LKR</h5>
            <h6>Expired by: {{product.expiryDate.substr(0,10)}}</h6>
            <hr>
            <p>{{product.description}}</p>
            <button class="btn btn-success btn-block">Buy now</button>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col d-flex justify-content-center">
            <h3>- Reviews -</h3>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col">
            <form ng-submit="submitReview()">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Your review" aria-label="Your review" aria-describedby="basic-addon2" ng-model="newReview.content">
                            <div class="input-group-append" style="cursor: pointer" ng-click="submitReview()">
                                <span class="input-group-text" id="basic-addon2">Submit</span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-repeat="review in allReviews | orderBy:'-id'">
        <div class="col pl-5">
            <blockquote class="blockquote">
                <p class="mb-0">{{review.content}} <img src="images/smile.png" width="20px" ng-if="review.sentiment == 'Positive'"><img src="images/sad.png" width="20px" ng-if="review.sentiment == 'Negative'"></p>
                <footer class="blockquote-footer">{{review.user.firstName + ' ' + review.user.lastName}} <cite title="Source Title">- {{review.date.substr(0,10)}}</cite></footer>
            </blockquote>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col d-flex justify-content-center">
            <h3>- History -</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p> -> </p>
                </div>
            </div>
        </div>
        <div class="col-2 border border-secondary m-2 rounded pt-3 pb-2">
            <div class="row">
                <div class="col-8 border-right">
                    <p style="text-align: center">Crop cultivated</p>
                    <p style="text-align: center">2019-11-24</p>
                </div>
                <div class="col d-flex align-items-center">
                    <p>  </p>
                </div>
            </div>
        </div>
    </div>
</div>
